body {
  margin: 0;
  background-color:#e7e0e0;
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  scroll-behavior: none;
  overflow:hidden;
 
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
